.topNav {
    padding: 18px 0;
    border-bottom: 1px solid #eaeaea;
    .links {
        display: flex;
        align-items: center;
        // justify-content: center;
        font-size: 14px;

        a {
            color: #616161;
            font-weight: 600;
            transition: .4s ease;

            &:hover {
                color: $main-green;
            }
        }

        p {
            margin: 0;
            font-size: 14px;
            color: $grey-p-color;
        }

        .ch-right {
            padding: 0 10px;
            i {
                font-size: 10px;
                color: #616161;
            }
        }
    }
}

.singleContent {
    padding: 65px 0;
    .content {
        background-color: $white-color;
        box-shadow: 0px 5px 83px 0px rgba(27,26,26, .06);
        border-bottom: 4px solid $dark-color;

        .content-img {
            position: relative;
            overflow: hidden;

            img {
                transform: scale(1.05);
            }

            .comments {
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;

                .t-grn {
                    padding: 10px 15px;
                    background-color: $main-green;

                    a {
                        color: $white-color;
                        font-size: 13px;
                    }
                }
                .t-wht {
                    display: inline-block;
                    background-color: $white-color;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;

                    span {
                        font-size: 13px;
                        padding: 11.5px 7.5px;
                    }
                    a {
                        position: relative;
                        font-size: 13px;
                        font-weight: 400;
                        padding: 11.5px 7.5px;
                        color: $dark-color;
                        transition: .4s ease;

                        &:hover {
                            color: $main-green;
                        }

                        &.t-lnk {
                            &::before {
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 2px;
                                background-color: #c7c7c7;
                                top: 50%;
                                left: -12px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }

        .icons {
            margin-top: 5px;
            .icon-bg {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                color: $white-color;
                border-radius: 50%;
                text-align: center;
                margin: 0 5px;
                cursor: pointer;
                z-index: 1;
                transition: .4s ease;

                &.mid {
                    margin: 0 13px;
                }

                &.blck {
                    &::after {
                        background-color: $dark-color;
                    }
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 12px;
                    transform: translate(-50%,-50%);
                }

                &:hover {
                    color: $main-green;

                    &::before {
                        background-color: $main-green;
                        border-color: $main-green;
                    }
                    &::after {
                        background-color: $white-color;
                    }
                }

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    transform: translate(-50%,-50%);
                    background-color: $main-green;
                    border-radius: 50%;
                    transition: .4s ease;
                    z-index: -1;
                }

                &::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 32px;
                    height: 32px;
                    transform: translate(-50%,-50%);
                    border: 2px solid #eaeaea;
                    border-radius: 50%;
                    transition: .4s ease;
                    z-index: -1;
                }
            }
        }

        .info-content {
            padding: 30px 50px 45px;
            .title {
                font-size: 42px;
                font-weight: 700;
                line-height: 1.46;
                letter-spacing: .6px;
                margin-bottom: 35px;
                color: $dark-color;
            }
            p {
                margin-bottom: 25px;
                font-size: 17px;
                color: $grey-p-color;
            }

            .post-share {
                margin-top: 35px;
                padding-top: 25px;
                border-top: 2px solid #eaeaea;

                .head-text {
                    font-size: 14px;
                    font-weight: 700;
                    color: $dark-color;
                    padding: 10px 0;
                    display: block;
                }

                .post {
                    .btn-white {
                        padding: 5px 15px;
                        margin: 5px;
                        color: $main-green;
                        font-size: 12px;
                        font-weight: 400;
                        border: 2.5px solid #eaeaea;

                        &:hover {
                            color: $white-color;
                            border-color: $main-green;
                        }
                    }
                }
            }
        }

        .wrapp {
            padding: 50px;
            .prof-img {
                width: 120px;
                height: 120px;
                padding: 15px 5px;
                box-sizing: unset;
            }
            .wall {
                padding: 15px 0;
                
                p {
                    color: $grey-p-color;
                    font-size: 14.6px;
                    margin: 0;
                    padding-bottom: 15px;
                }
            }
        }
    }

    .prev-post {
        margin: 40px 0;
        width: 40%;
        cursor: pointer;

        &:hover {
            .btn-white {
                color: $white-color;
                border-color: $main-green;
                background-color: $main-green;
            }
            .prev {
                color: $main-green;
            }
        }
        
        .btn-white {
            padding: 18px 22px;
            color: $dark-color;
            font-size: 12px;
            font-weight: 400;
            border: 2.4px solid #bcbcbc;
        }

        .prev {
            color: $dark-color;
            font-weight: 700;
            margin-left: 15px;
            transition: .4s ease;
        }
    }

    .head-h3 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .5px;
        color: $dark-color;
        padding-bottom: 10px;
        margin: 0;
    }

    .comments-side {
        .comm-title {
            font-size: 24px;
            margin: 60px 0;
            color: $grey-p-color;
        }
        .comm-place {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            &.pdng {
                padding-left: 100px;
                margin-top: 10px;

                .comm-texts {
                    max-width: 84%;
                }
            }

            .comm-img {
                padding: 15px 15px 15px 0;
            }
            .comm-texts {
                max-width: 86%;
                padding: 15px;
                .time {
                    display: block;
                    font-size: 12px;
                    margin: -5px 0 5px;
                    color: $grey-p-color;
                }
                p {
                    color: $grey-p-color;
                    margin: 0;
                    max-width: 100%;
                }
                .comment-reply {
                    padding-top: 5px;
                    a {
                        font-size: 14px;
                        font-weight: 700;
                        color: $main-green;
                        transition: .4s ease;

                        &:hover {
                            color: $dark-color;
                        }

                        i {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .reply {
        margin-top: 50px;
        .title-h3 {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 30px;
            color: $grey-p-color;
        }

        .inputs {
            input {
                padding: 0 20px;
                background-color: transparent;
                border: 2.4px solid #eaeaea;
                line-height: 58px;
                height: 58px;
                font-size: 14px;
                text-align: start;
                width: 100%;
            }

            textarea {
                margin-top: 25px;
                padding: 15px 20px;
                height: 158px;
                font-size: 14px;
                line-height: normal;
                min-height: 110px;
                width: 100%;
                background-color: transparent;
                border: 2.4px solid #eaeaea;
            }

            input, textarea {
                &:hover {
                    border-color: $main-green;
                }
            }

            .check {
                padding-top: 5px;
                margin-bottom: 30px;
                label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    #check-id {
                        display: inline-block;
                        width: 12.8px;
                        height: 12.8px;
                        margin-right: 5px;
                    }
                    span {
                        color: $grey-p-color;
                    }
                }
            }

            .btn-green {
                margin-bottom: 30px;
                &:hover {
                    .circle {
                        color: $dark-color;
                    }
                }

                .circle {
                    position: relative;
                    display: inline-block;
                    margin-right: 12px;
                    color: $main-green;
                    z-index: 1;
                    transition: .4s ease;

                    &::before {
                        position: absolute;
                        content: '';
                        width: 30px;
                        height: 30px;
                        top: 50%;
                        left: 0;
                        transform: translate(-8px, -50%);
                        background-color: $white-color;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .rightBar {
        padding-left: 40px;
        .search {
            background-color: $main-green;
            margin-bottom: 40px;

            h4 {
                font-size: 22px;
                font-weight: 700;
                color: $white-color;
                margin-bottom: 25px;
            }
            .search-inp {
                position: relative;
                .srch-input {
                    color: $grey-p-color;
                    padding: 0 20px;
                    height: 65px !important;
                    line-height: 65px !important;
                    background-color: $white-color;
                    border: none;
                    width: 100%;
                }
                .srch-icon {
                    position: absolute;
                    width: 48px;
                    // background-color: transparent;
                    top: 50%;
                    right: -12px;
                    transform: translateY(-50%);
                    color: $dark-color;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
        .pd-50 {
            padding: 50px;
        }
        .shdw {
            background-color: $white-color;
            border-bottom: 4px solid $main-green;
            box-shadow: 0px 5px 83px 0px rgba(27,26,26, .12);
        }
        .serv {
            font-size: 21px;
            font-weight: 700;
            color: $dark-color;
            margin-bottom: 25px;
        }

        .sideBar {
            margin-bottom: 40px;
            .menuServ {
                text-transform: capitalize;

                .btn-dark {
                    display: block;
                    position: relative;
                    margin: 4px 0;
                    padding-top: 20px;
                    padding-bottom: 20px;

                    &:hover {
                        .num {
                            background-color: $dark-color;
                        }
                    }

                    .num {
                        position: absolute;
                        background-color: $main-green;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 25px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        text-align: center;
                        font-size: 12px;
                        line-height: 25px;
                        transition: .4s ease;
                    }
                }
            }
            
            .post {
                display: flex;
                flex-wrap: wrap;

                &.pddng {
                    padding-bottom: 33px;
                }

                .post-img {
                    width: 80px;
                    height: 80px;
                    box-sizing: content-box;
                }
                .post-tag {
                    width: calc(100% - 80px);
                    padding: 0 20px;
                    .date {
                        display: block;
                        margin-top: -5px;
                        padding-bottom: 5px;
                        font-size: 13px;
                        color: #616161;
                    }
                    .post-link {
                        font-size: 18px;
                        line-height: 16px;
                        color: $dark-color;
                        font-weight: 700;
                        transition: .4s ease;

                        &:hover {
                            color: $main-green;

                            .none {
                                color: $main-green;
                            }
                        }

                        .none {
                            display: none;
                            font-size: 18px;
                            line-height: 24px;
                            color: $dark-color;
                            font-weight: 700;
                            transition: .4s ease;
                        }
                    }
                }
            }

            .tag-links {
                display: flex;
                flex-wrap: wrap;
                margin-left: -5px;
                .btn-white {
                    padding: 5px 15px;
                    margin: 5px;
                    color: $main-green;
                    font-size: 12px;
                    font-weight: 400;
                    border: 2.5px solid #eaeaea;

                    &:hover {
                        color: $white-color;
                        border-color: $main-green;
                    }
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .content {
        .info-content {
            padding: 30px 20px 45px !important;
            .title {
                font-size: 22px !important;
            }
        }

        .wrapp {
            text-align: center;
            padding: 20px !important;
            .prof-img {
                width: 100% !important;
            }
            .wall {
                padding-bottom: 0 !important;
                .head-h3 {
                    font-size: 15px !important;
                }
            }
        }
    }
    .prev-post {
        .btn-white {
            padding: 10px 12px !important;
            line-height: 13px;
        }
    }

    .reply {
        .inputs {
            input {
                &.mid {
                    margin: 25px 0;
                }
            }
        }
    }

    .rightBar {
        padding-left: 0 !important;

        .sideBar {
            .post {
                .post-tag {
                    .post-link {
                        .none {
                            display: block !important;
                        }
                    }
                    .date {
                        margin-bottom: 12px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .comments-side {
        .pdng {
            padding-left: 15px !important;
        }

        .comm-place, .comm-place.pdng {
            .comm-img {
                padding: 7.5px 7.5px 7.5px 0 !important;
                img {
                    width: 30px;
                }
            }
            .comm-texts {
                padding: 7.5px !important;
                
                .head-h3 {
                    padding: 0;
                }

                p {
                    padding-top: 7px;
                }
            }
        }
    }
}